@model ManageRolesViewModel

<h2>Manage Roles for @Model.UserName</h2>

<form asp-action="ManageRoles" method="post">
    <input type="hidden" asp-for="UserId" />
    <table>
        <thead>
        <tr>
            <th>Role</th>
            <th>Assigned</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var role in Model.Roles)
        {
            <tr>
                <td>@role.RoleName</td>
                <td>
                    <input type="checkbox" asp-for="Roles[@Model.Roles.IndexOf(role)].IsSelected" />
                    <input type="hidden" asp-for="Roles[@Model.Roles.IndexOf(role)].RoleName" />
                </td>
            </tr>
        }
        </tbody>
    </table>
    <button type="submit">Save</button>
</form>